.frame {
  /* border: var(--border-width) solid hsl(var(--clr-blue) / 0.5); */
  margin: 5vh 10vw;
  padding: 8rem;
  /* background-image: url("../images/wood_background_2.jpg"); */
  border: var(--border-width) solid rgba(145, 120, 120, 0.65);
  border-radius: 1rem;
  height: 70%;
}

.main_content {
  padding: 8vw;
  /* background: var(--clr-background); */
  background: rgba(9, 95, 13, 0.125);

  /* background-image: url("../images/chrobotek.jpg");
    opacity: 0.6; */

  border-radius: 2rem;
  color: rgb(255, 255, 255);
}

.bottom {
  padding: 1vw;
}
